* { box-sizing: border-box; }
#wrapper { padding: 0;} 	
body { font-family: Tahoma, Arial, sans-serif; 
	   color: #FFFFFF;
	   margin: 0;
	   background-image: url(spacebackground.jpg);
	   background-repeat: no-repeat;
	   background-size: 100% 100%;
	   background-color: #000000;
}
h1 { text-align: center;
	 line-height: 150%;
}
h2 { text-align: center; }
p { margin-bottom: 35px; }
a { text-decoration: none; }
a:link { color: #FEF6C2; }
a:visited { color: #D2B48C; }
a:hover { color: #CC9933; }
table { margin: auto;
		border-spacing: 0;
		width: 50%;
}
td { padding: 10px; 
	 text-align: center;
}
th { padding: 10px; }
tr:nth-child(3n+1) { background-color: #371885; }
tr:nth-child(3n+2) { background-color: #4b22b2; }
tr:nth-child(3n) { background-color: #5a1fef; }
header { background-image: url(logo.png);
	     width: 305px;
		 height: 189px;
		 margin: auto;
		 padding-top: 15px;
		 padding-bottom: 15px;
		 background-repeat: no-repeat;
}
nav { text-align: center;
	  vertical-align: middle;
	  font-size: 2.25em;
}
nav ul { display: flex;
	     flex-direction: column;
		 margin: 0;
	     padding: 0;
		 list-style-type: none;
}
nav li { padding: .5em 1em;
		 border: 1px solid red;
		 background-color: #04041b;
		 transition: background-color 1s linear;
}
nav li:hover { background-color: #1b1b21; }
nav a:link { color: #b50e0e; }
nav a:visited { color: #610000; }
nav a:hover { color: #ff0000; }
main { display: block;
       border: 1px solid red;
	   font-size: 1em;
	   line-height: 150%;   
       padding:2em 2em 2em 2em; 
	   margin: 1em;
}
main h1 { font-size: 3em; }
footer { background-color: #000000;
         font-size: .80em;
		 font-style: italic;
		 text-align: center;
		 padding-bottom: 1em;
		 border-top: 2px solid red;
}
form { display: flex;
       padding-left: 1em;
       flex-direction: column;
	   border: 1px solid red;
	   background-color: #04041b;
}
label[for="pageName"] { text-align: center; 
						margin-bottom: 1em;
}
#radioContainer { padding-left: 2em;
				  margin-bottom: 1em;
				  margin-right: 20px;
				  padding-top: 1em;
				  font-size: 1.25em;
}
label[for="myInfo"] { text-align: center; }
textarea { margin-bottom: 1em; 
		   width: 80%;
}
button { width: 30%;
		 margin-left: auto;
		 margin-right: auto;
		 margin-bottom: .5em;
}
@media (min-width: 600px) { 
	nav ul { flex-flow: row nowrap;	
			 justify-content: center;
	}
	nav li { padding: .5em 0.35em; }
    label[for="pageName"] { grid-area: a; 
	                        padding-top: 3em;
	}
    #radioContainer { grid-area: b; }	
    label[for="myInfo"] { grid-area: c; }
	button { grid-area: d; }
	form { display: grid;
	       grid-template-areas:
				            "a b" 
						    "c c" 
						    "d d"; 
		   grid-gap: 1em;
		   gap: 1em;
	}
	label[for="pageName"] { padding-left: 2em; }
    textarea { width: 55%; }	
}    
@media (min-width: 1024px) { 
		@supports (display: grid) {
		   header { grid-area: header; }	
		   nav { grid-area: nav; }
		   main { grid-area: main; }		
		   footer { grid-area: footer; }
		   #wrapper { display: grid;
		              grid-template-areas:
				         "header header" 
						 "nav    main" 
						 "footer footer"; 
		   grid-template-columns: 150px 1fr;
           grid-template-rows: 200px auto 50px;
		   grid-gap: 2em;
		   gap: 2em;
	       }
	       nav ul { flex-direction: column; }
		   nav li { padding: .5em 0; }
		   h2 { text-align: left; }
		   button { width: 10em; }
           textarea { width: 40%; }	

        }  
}				